<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.Demo.Sample</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doTest5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doTest2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doTest3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doTest4</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
