<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b88869">  <td>17/11/26 11:49:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.doTest1()[pri:0, instance:org.Demo.Sample@6c629d6e]">doTest1</td> 
  <td>main@225493257</td>   <td></td> </tr>
<tr bgcolor="b88869">  <td>17/11/26 11:49:48</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.doTest2()[pri:0, instance:org.Demo.Sample@6c629d6e]">doTest2</td> 
  <td>main@225493257</td>   <td></td> </tr>
<tr bgcolor="b88869">  <td>17/11/26 11:49:48</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.doTest3()[pri:0, instance:org.Demo.Sample@6c629d6e]">doTest3</td> 
  <td>main@225493257</td>   <td></td> </tr>
<tr bgcolor="b88869">  <td>17/11/26 11:49:48</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.doTest4()[pri:0, instance:org.Demo.Sample@6c629d6e]">doTest4</td> 
  <td>main@225493257</td>   <td></td> </tr>
<tr bgcolor="b88869">  <td>17/11/26 11:49:48</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample.doTest5()[pri:0, instance:org.Demo.Sample@6c629d6e]">doTest5</td> 
  <td>main@225493257</td>   <td></td> </tr>
</table>
